* {
  box-sizing: border-box;
}
html,body{
  width: 100%;
  min-width: 1200px;
  height: 100%;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.el-dropdown-menu {
  padding: 5px 0;
}
.el-dropdown-menu__item {
  line-height: 30px;
}

a {
  text-decoration: none;
}
